
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:3+kPmQBlPLdNv6egRVRrvmBxLBXGBxmBOu8hhUR2CxU=
APP_DEBUG=true
APP_URL=https://website.avijatry.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=shoe_ecommers
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


PUSHER_APP_ID=2102036
PUSHER_APP_KEY=ded5c592779f6c1c07f2
PUSHER_APP_SECRET=90f9aaa9fa345119b497
PUSHER_APP_CLUSTER=ap2


SSLCOMMERZ_SANDBOX_URL=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSLCOMMERZ_LIVE_URL=https://securepay.sslcommerz.com/gwprocess/v4/api.php

SSLCZ_STORE_ID=softd6692df939e24e
SSLCZ_STORE_PASSWORD=softd6692df939e24e@ssl
SSLCZ_TESTMODE=true
SSLCOMMERZ_VERIFY=false


SMS_PROVIDER_URL="https://api.sms.net.bd/sendsms"
SMS_API_KEY="P8ifDMufDRxM90Ou2Tu7sr113W05vF0wfjY2g3PS"
SMS_SENDER_ID="AVIJATRY"




MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"




