.add-to-wishlist {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #f1f1f1;
    transition: all 0.3s ease;
}

.add-to-wishlist i {
    font-size: 20px;
    color: #555;
    transition: color 0.3s ease;
}

/* ✅ Active (Wishlisted) */
.add-to-wishlist.active {
    background-color: rgba(231, 76, 60, 0.15);
    /* light red bg */
}

.add-to-wishlist.active i {
    color: #ffff;
    /* red heart */
    background: #f5c518;
    border-color: #ffff;
}

/* Optional hover effect */
.add-to-wishlist:hover {
    background-color: rgba(231, 76, 60, 0.1);
}
